@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --Poppins: "poppins", sans-serif;
  --orange-1: #ff6f3c;
  --orange-2: #f96d00;
  --light: #fff;
  --dark: #000;
  --border-color: #cbcbcb;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  font-family: var(--Poppins) !important;
}

.primary {
  color: var(--orange-1);
}

.navbar-container {
  width: 100%;
  padding: 1rem 8rem;
  transition: all 0.5s ease;
  background-color: var(--light);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo .logo-txt {
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--dark);
}

.nav-search {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  position: relative;
  background-color: #f0f5ff;
  padding: 0.85rem;
}

.nav-search .search {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0%, -50%);
}

.nav-search .search svg {
  font-size: 1.45rem;
  color: #5f5f5f;
}

.nav-search .close {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
}

.nav-search .close.searched {
  opacity: 1;
  pointer-events: all;
}

.nav-search .close svg {
  color: #8f8f8f;
  font-size: 1.45rem;
}

.nav-search input {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 0 0 2rem;
}

.nav-search input:focus {
  border: unset;
  outline: none;
}

.nav-search button {
  padding: 0.85rem;
  background-color: red;
}

.logo-img {
  width: 150px;
  max-width: 90%;
  transition: all 0.5s ease;
}

.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-links .nav-link {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

.nav-link {
  position: relative;
}

.cart-count {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--orange-1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  padding: 0.55rem;
  font-size: 0.785rem;
  border-radius: 100px;
  top: -7px;
  right: -7px;
}

.nav-links-2 .nav-link .nav-icon svg {
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.nav-links-2 .nav-link .nav-txt {
  font-size: 1rem;
  color: var(--dark);
  white-space: nowrap;
  transition: all 0.5s ease;
}

.fixed-navbar-mobile {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.fixed-nav-icon svg {
  font-size: 1.25rem;
}

.fixed-nav-txt {
  font-size: 0.795rem;
}

.home-category-container {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

.home-category-slider {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
  flex-wrap: nowrap;
}

.category-item {
  position: relative;
}

.home-category {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-category .cat-icon {
  width: 3.75rem;
  height: 3.75rem;
}

.home-category .cat-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-category .cat-txt {
  font-size: 0.925rem;
  color: var(--dark);
  font-weight: 400;
}

.category-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 36rem;
  transform: translate(-50%, -8px);
  max-width: 100vw;
  background-color: var(--light);
  padding: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  visibility: hidden;
  display: flex;
}

.category-dropdown .dropdown {
  width: calc(100% / 2);
}

.category-item:hover .category-dropdown {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: all 0.5s ease;
  transform: translate(-50%, 0);
}

.subcategory-dropdown {
  border-left: 1px solid var(--border-color);
  padding-left: 1.5rem;
}

.dropdown-main-cat {
  transition: all 0.5s ease;
  padding: 0.5rem 0.35rem;
}

.dropdown-main-cat.active {
  background-color: #eeeeee;
  transition: all 0.5s ease;
}

.dropdown-sub-cat:hover {
  background-color: #eeeeee;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1400px) {
  .navbar-container {
    transition: all 0.5s ease;
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-container {
    transition: all 0.5s ease;
    padding: 1rem 2rem;
  }

  .home-category-swiper {
    width: 90%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .navbar-container {
    transition: all 0.5s ease;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 991px) {
  .nav-search {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .navbar-container {
    padding: 0.85rem 0.65rem;
    transition: all 0.5s;
  }

  .logo-img {
    width: 120px;
    transition: all 0.5s ease;
  }

  .nav-links-2 .nav-link .nav-icon svg {
    font-size: 1.25rem;
    transition: all 0.5s ease;
  }

  .nav-links-2 .nav-link .nav-txt {
    font-size: 0.9rem;
    transition: all 0.5s ease;
  }
}
