@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --Poppins: "poppins", sans-serif;
  --orange-1: #ff6f3c;
  --orange-2: #f96d00;
  --light: #fff;
  --dark: #000;
  --radius-1: 16px;
  --radius-2: 24px;
  --shadow-1:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --radius-full: 100px;
  --border-color: #cbcbcb;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  font-family: var(--Poppins) !important;
}

.primary {
  color: var(--orange-1);
}

.navbar-container {
  width: 100%;
  padding: 1rem 8rem;
  transition: all 0.5s ease;
  background-color: var(--light);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo .logo-txt {
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--dark);
}

.nav-search {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  position: relative;
  background-color: #f0f5ff;
  padding: 0.85rem;
}

.nav-search .search {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0%, -50%);
}

.nav-search .search svg {
  font-size: 1.45rem;
  color: #5f5f5f;
}

.nav-search .close {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
}

.nav-search .close.searched {
  opacity: 1;
  pointer-events: all;
}

.nav-search .close svg {
  color: #8f8f8f;
  font-size: 1.45rem;
}

.nav-search input {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 0 0 2rem;
}

.nav-search input:focus {
  border: unset;
  outline: none;
}

.nav-search button {
  padding: 0.85rem;
  background-color: red;
}

.logo-img {
  width: 150px;
  max-width: 90%;
  transition: all 0.5s ease;
}

.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-links .nav-link {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

.nav-link {
  position: relative;
}

.cart-count {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--orange-1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  padding: 0.55rem;
  font-size: 0.785rem;
  border-radius: 100px;
  top: -7px;
  right: -7px;
}

.nav-links-2 .nav-link .nav-icon svg {
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.nav-links-2 .nav-link .nav-txt {
  font-size: 1rem;
  color: var(--dark);
  white-space: nowrap;
  transition: all 0.5s ease;
}

.fixed-navbar-mobile {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: var(--light);
}

.fixed-nav-icon svg {
  font-size: 1.25rem;
}

.fixed-nav-txt {
  font-size: 0.795rem;
}

.home-category-container {
  width: 80%;
  max-width: 100%;
  margin: 1.5rem auto auto auto;
}

.home-category-slider {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
  flex-wrap: nowrap;
}

.category-item {
  position: relative;
}

.home-category {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-category .cat-icon {
  width: 3.75rem;
  height: 3.75rem;
}

.home-category .cat-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-category .cat-txt {
  font-size: 0.925rem;
  color: var(--dark);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  transition: all 0.5s ease;
}

.home-category .cat-txt {
  transition: all 0.5s ease;
}

.category-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 36rem;
  transform: translate(-50%, -8px);
  max-width: 100vw;
  background-color: var(--light);
  padding: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  visibility: hidden;
  display: flex;
}

.category-dropdown .dropdown {
  width: calc(100% / 2);
}

.category-item:hover .category-dropdown {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: all 0.5s ease;
  transform: translate(-50%, 0);
}

.category-item:hover .cat-txt .icon {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}

.subcategory-dropdown {
  border-left: 1px solid var(--border-color);
  padding-left: 1.5rem;
}

.dropdown-main-cat {
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.35rem;
}

.dropdown-main-cat .icon {
  transition: all 0.5s ease;
  opacity: 0;
}

.dropdown-main-cat.active {
  background-color: #eeeeee;
  transition: all 0.5s ease;
}

.dropdown-main-cat:hover .icon {
  opacity: 1;
  transition: all 0.5s ease;
}

.dropdown-main-cat.active .icon {
  opacity: 1;
  transition: all 0.5s ease;
}

.dropdown-main-cat.active {
  background-color: #eeeeee;
  transition: all 0.5s ease;
}

.dropdown-sub-cat:hover {
  background-color: #eeeeee;
  transition: all 0.5s ease;
}

.custom-container {
  width: 85vw;
  max-width: 100%;
  margin: auto;
  transition: all 0.25s ease;
}

.horizontal-slider {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1rem 0.5rem;
  overflow: auto;
}

.horizontal-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  margin: 0 0 0 0.5rem;
}

.horizontal-slider::-webkit-scrollbar {
  display: none;
}

.horizontal-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  gap: 0.5rem;
}

.horizontal-slide .horizontal-slide-img {
  width: 12rem;
  height: 12rem;
  transition: all 0.5s ease;
}

.horizontal-slide .horizontal-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.horizontal-slide .horizontal-slide-title {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--dark);
  width: 12rem;
  max-width: 90%;
  white-space: nowrap;
  margin: 0.5rem 0 0 0;
  text-align: center;
  transition: all 0.5s ease;
  overflow: hidden;
  text-overflow: ellipsis;
}

.horizontal-slide .horizontal-slide-price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark);
  transition: all 0.5s ease;
}

.btn-slide {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-2);
  cursor: pointer;
  color: var(--light);
  border-radius: var(--radius-full);
}

.btn-slide svg {
  font-size: 1.1rem;
}

.banner-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius-1);
  box-sizing: var(--shadow-1);
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-swiper-container .swiper-pagination {
  position: relative;
  margin: 1rem 0 0 0;
  transition: all 0.5s ease;
}

.banner-swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 1rem;
  height: 4px;
  background-color: var(--border-color);
  border-radius: var(--radius-full);
  transition: all 1.5s ease;
  margin: 0 3px !important;
  opacity: 1;
}

.banner-swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 2rem;
  background-color: var(--orange-1);
  transition: all 1.5s ease;
}

.footer-container {
  width: 95%;
  max-width: 100%;
  margin: auto;
}

.footer-logo-info {
  width: 30rem;
  max-width: 100%;
}

.footer-logo {
  width: 12vw;
  margin: 0 0 1rem 0;
  transition: all 0.5s ease;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-links .footer-link-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--light);
  margin: 0 0 1rem 0;
  transition: all 0.5s ease;
}

.footer-links .footer-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--light);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.footer-links .footer-link:hover {
  transition: all 0.5s ease;
  opacity: 1;
}

.footer-info {
  color: var(--light);
  text-wrap: balance;
}

@media screen and (max-width: 1400px) {
  .navbar-container {
    transition: all 0.5s ease;
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-container {
    transition: all 0.5s ease;
    padding: 1rem 2rem;
  }

  .home-category-swiper {
    width: 90%;
    max-width: 100%;
  }

  .home-category-container {
    width: 90%;
    max-width: 100%;
    margin: 1.5rem auto auto;
  }

  .home-category-slider {
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 2.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }

  .custom-container {
    width: 90%;
  }

  .footer-logo-info {
    width: 100%;
    max-width: 100%;
  }

  .footer-logo {
    width: 18vw;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 1080px) {
  .navbar-container {
    transition: all 0.5s ease;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 991px) {
  .nav-search {
    display: none;
  }

  .custom-container {
    width: 95%;
  }

  .horizontal-slide .horizontal-slide-img {
    width: 10rem;
    height: 10rem;
    transition: all 0.5s ease;
  }

  .horizontal-slide .horizontal-slide-title {
    width: 10rem;
    max-width: 90%;
    transition: all 0.5s;
  }

  .footer-logo {
    width: 25vw;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 576px) {
  .navbar-container {
    padding: 0.85rem 0.65rem;
    transition: all 0.5s;
  }

  .logo-img {
    width: 120px;
    transition: all 0.5s ease;
  }

  .nav-links-2 .nav-link .nav-icon svg {
    font-size: 1.25rem;
    transition: all 0.5s ease;
  }

  .nav-links-2 .nav-link .nav-txt {
    font-size: 0.9rem;
    transition: all 0.5s ease;
  }

  .home-category-container {
    width: 95%;
    margin: 1.5rem auto auto;
  }

  .home-category .cat-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .home-category .cat-txt {
    font-size: 0.9rem;
    transition: all 0.5s;
  }

  .horizontal-slide {
    padding: 0.85rem;
    transition: all 0.5s ease;
  }

  .horizontal-slide .horizontal-slide-img {
    width: 8rem;
    height: 8rem;
    transition: all 0.5s ease;
  }

  .horizontal-slide .horizontal-slide-title {
    width: 8rem;
    transition: all 0.5s;
  }

  .horizontal-slide .horizontal-slide-price {
    font-size: 0.95rem;
    transition: all 0.5s;
  }

  .footer-logo {
    width: 40vw;
    transition: all 0.5s ease;
  }
}
